body {
  background-color: #282c34;
}

h1 {
  margin: 1rem 0 1rem 0;
}
h2 {
  margin: 1rem 0 0.25rem 0;
}
p {
  margin: 0.75rem 0 0.75rem 0;
}

.App {
  text-align: center;
}

hr {
  width: 50vw;
  border: 1px solid #999;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
  margin-bottom: 2rem;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.App-link {
  color: #61dafb;
}

.code-container {
  word-wrap: break-word;
  max-width: 32ch;
  text-align: start;
}

.code-container code {
  font-family: 'Courier New', monospace;
}

.mnemonic {
  padding: 0 1rem;
  font-size: calc(21px + 1.5vmin);
}

.mnemonic-word {
  color: #999;
}

.mnemonic-word .highlight {
  color: #fefefe;
}

.bitlength-selector {
  padding: 0.25rem 0 0.25rem 0.5rem;
}

/* Chessground adaptions */
cg-board {
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* prevent gap on the right when stretching board to 100% width */
.cg-wrap coords.ranks {
  top: unset !important;
  left: unset !important;
  overflow: hidden;
}
.cg-wrap coords.ranks coord {
  transform: unset !important;
}

.cg-wrap coords.files {
  left: unset !important;
  overflow: hidden;
}
.cg-wrap coords.files coord {
  transform: translateX(39%);
}
/* prevent gap on the right when stretching board to 100% width - end */

/* Chessground adaptions - end */
