body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#forkme {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
}

@media only screen and (max-width: 600px) {
  #forkme {
    width: 120px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #999;
  text-decoration: underline;
}

code,
.mono {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.min-w-xs {
  min-width: 20rem;
}

.w-100 {
  width: 100%;
}

.btn {
  padding: 0.25rem 1rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.text-lg {
  font-size: 1.5rem;
}
